In [1]:
import pandas as pd

In [2]:
#Import the DataSet
titanic_df=pd.read_csv('Datasets/titanic_processed.csv')
titanic_df.head(5)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,3,1,45.0,0,0,8.0500,0,0,1
1,1,3,1,25.0,0,0,0.0000,0,0,1
2,0,3,1,20.0,0,0,8.6625,0,0,1
3,1,3,0,26.0,0,0,7.8542,0,0,1
4,1,2,0,24.0,2,3,18.7500,0,0,1

In [3]:
titanic_df.shape

(712, 10)

In [4]:
#Training ML model
import sklearn
from sklearn.model_selection import train_test_split
X=titanic_df.drop('Survived',axis=1)
Y=titanic_df['Survived']
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2)

In [5]:
x_train.shape ,y_train.shape

((569, 9), (569,))

In [7]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(penalty='l2',C=1.0 ,solver='liblinear').fit(x_train,y_train)

In [8]:
y_pred = logistic_model.predict(x_test)

In [9]:
pred_results = pd.DataFrame({'y_test':y_test,
                             'y_pred':y_pred})

In [10]:
titanic_crosstab = pd.crosstab(pred_results.y_pred ,pred_results.y_test)
titanic_crosstab

y_test   0   1
y_pred
0       66  21
1       15  41

In [11]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [12]:
acc=accuracy_score(y_test,y_pred)
prec=precision_score(y_test,y_pred)
recall=recall_score(y_test,y_pred)
print('accuracy_score :',acc)
print('precission_score :',prec)
print('recall_score :',recall)

accuracy_score : 0.7482517482517482
precission_score : 0.7321428571428571
recall_score : 0.6612903225806451